[submodule "plugins/org.jboss.tools.vpe.cordovasim/src/org/jboss/tools/vpe/cordovasim/resources/ripple-ui"]
	path = plugins/org.jboss.tools.vpe.cordovasim/src/org/jboss/tools/vpe/cordovasim/resources/ripple-ui
	url = git@github.com:yradtsevich/ripple-temp.git
