<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="by.buziuk.di">
      </category>
      <view
            name="Sample View"
            icon="icons/sample.gif"
            category="by.buziuk.di"
            class="by.buziuk.di.views.SampleView"
            id="by.buziuk.di.views.SampleView">
      </view>
   </extension>
</plugin>
